<!DOCTYPE html> {% load static %}
<html lang='en'>

<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'main/' %}css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/' %}css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/' %}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/' %}css/main.css">
</head>

<body>
	{% include "main/navbar.html" %}
	<div class="container mt-3">
		{% block content %}

		{% endblock content %}
	</div>

	<script type="text/javascript" src="{% static 'main/' %}js/fontawesome.min.js"></script>
	<script type="text/javascript" src="{% static 'main/' %}js/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'main/' %}js/popper.min.js"></script>
	<script type="text/javascript" src="{% static 'main/' %}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'main/' %}js/axios.min.js"></script>
	<script type="text/javascript" src="{% static 'main/' %}js/main.js"></script>
	
</body>

</html>